.home{
    background-color: #040D12;
}
.title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    color: #B9B4C7;
  }
  .subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: #DDE6ED;
    font-weight: 500;
  }
.normal{
    color:#93B1A6;
}
